## Libraries

In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import glob
import sys

In [2]:
scripts_path = os.path.abspath(os.path.join('..', 'scripts'))

# Add the scripts folder to Python's path
if scripts_path not in sys.path:
    sys.path.append(scripts_path)

from validation_utils import check_column_consistency
from validation_utils import consolidate_data

## Consolidating and Loading Data

In [3]:
# Find all your pavement condition files
pavement_condition_pattern = "../data/raw/01_Pavement condition/Pavement_Condition_Data_*.csv"
pavement_condition_files = glob.glob(pavement_condition_pattern)

# Run the check
if check_column_consistency(pavement_condition_files):
    pavement_condition_master = consolidate_data(pavement_condition_files)

✅ All files have consistent columns.
✅ Successfully consolidated 3 files.

In [4]:
pavement_condition_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492066 entries, 0 to 492065
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   year                       492066 non-null  int64
 1   route_name                 492066 non-null  object
 2   direction                  492066 non-null  object
 3   district                   492066 non-null  object
 4   begin_mile                 492066 non-null  float64
 5   end_mile                   492066 non-null  float64
 6   length                     492066 non-null  float64
 7   lane_miles                 492050 non-null  float64
 8   latitude                   492066 non-null  float64
 9   longitude                  492066 non-null  float64
 10  divided_undivided          492066 non-null  object
 11  nhs                        492066 non-null  int64
 12  nm_funct_class_name        492066 non-null  object
 13  overal_condition_index     492066 non-null  float64
 14  pavement_condition_rating  486896 non-null  float64
 15  hpms_cracking_percentage   492066 non-null  float64
 16  average_iri                491394 non-null  float64
 17  nm_rutting_measure         492061 non-null  float64
dtypes: float64(11), int64(2), object(5)
memory usage: 67.6+ MB

In [13]:
pavement_condition_master.head()

,year,route_name,direction,district,begin_mile,end_mile,length,lane_miles,latitude,longitude,divided_undivided,nhs,nm_funct_class_name,overal_condition_index,pavement_condition_rating,hpms_cracking_percentage,average_iri,nm_rutting_measure
0,2021,BL11M,M,DISTRICT 1 (DEMING),0.00,0.100,0.100,0.100,33.1134,-107.2995,Divided,1,PRINCIPAL ARTERIALS,40.0,47.29224,9.1,134.0,0.18
1,2021,BL11M,M,DISTRICT 1 (DEMING),0.10,0.125,0.025,0.025,33.1135,-107.2992,Divided,1,PRINCIPAL ARTERIALS,49.0,49.08284,16.7,219.0,0.26
2,2021,BL11M,M,DISTRICT 1 (DEMING),0.18,0.200,0.020,0.020,33.1141,-107.2980,Divided,1,PRINCIPAL ARTERIALS,85.0,78.77380,0.0,205.0,0.14
3,2021,BL11M,M,DISTRICT 1 (DEMING),0.20,0.300,0.100,0.100,33.1147,-107.2965,Divided,1,PRINCIPAL ARTERIALS,84.0,83.95596,0.3,111.0,0.19
4,2021,BL11M,M,DISTRICT 1 (DEMING),0.30,0.400,0.100,0.200,33.1154,-107.2950,Divided,1,PRINCIPAL ARTERIALS,86.0,86.76512,0.0,92.0,0.15

In [5]:
mms_pattern = "../data/raw/02_Maintenance/*MMS.xlsx"
mms_files = glob.glob(mms_pattern)

# Run the check
if mms_files:
    if check_column_consistency(mms_files):
        mms_master = consolidate_data(mms_files)

✅ All files have consistent columns.
✅ Successfully consolidated 3 files.

In [6]:
mms_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161468 entries, 0 to 161467
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fiscal_year          161468 non-null  int64
 1   district             161468 non-null  int64
 2   activity_name        161468 non-null  object
 3   comment_work_order   127784 non-null  object
 4   route_name           161468 non-null  object
 5   eff_offset_from      161468 non-null  float64
 6   eff_offset_from.1    161468 non-null  float64
 7   amount               152995 non-null  float64
 8   comment_location     105365 non-null  object
 9   total_cost           161468 non-null  float64
 10  start_date           161468 non-null  datetime64[ns]
 11  nm_nhs               161468 non-null  int64
 12  nm_locale_code_name  161468 non-null  object
 13  nm_funct_class_name  161468 non-null  object
 14  County               161468 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 18.5+ MB

In [14]:
mms_master.head()

,fiscal_year,district,activity_name,comment_work_order,route_name,eff_offset_from,eff_offset_from.1,amount,comment_location,total_cost,start_date,nm_nhs,nm_locale_code_name,nm_funct_class_name,County,segment_id
0,2022,1,100 EMERGENCY REPAIRS/CLEAN-UP,CALLED OUT BY LUNA COUNTY SHERIFF TO PICK UP E...,I10P,85.06,85.06,2.0,CALLED OUT,109.42,2022-01-01,1,Small Urban,INTERSTATE SYSTEM,Luna,I10P_85.06_85.06
1,2022,2,100 EMERGENCY REPAIRS/CLEAN-UP,Called out for stop signs down on 62-180 mm 36...,US62P,36.00,36.00,6.0,installed a stop sign,274.66,2022-01-01,1,Small Urban,PRINCIPAL ARTERIALS,Eddy,US62P_36.0_36.0
2,2022,1,100 EMERGENCY REPAIRS/CLEAN-UP,CALLED OUT DO TO SINGLE VEHICLE ROLLOVER ON US...,US380P,35.99,35.99,6.0,DO TO ROLL OVER,380.42,2022-01-01,0,Rural,MINOR ARTERIALS,Socorro,US380P_35.99_35.99
3,2022,2,100 EMERGENCY REPAIRS/CLEAN-UP,Called out for stop signs down on 62-180 mm 36...,US62P,39.00,39.00,6.0,installed a stop sign,274.66,2022-01-01,1,Rural,PRINCIPAL ARTERIALS,Eddy,US62P_39.0_39.0
4,2022,2,100 EMERGENCY REPAIRS/CLEAN-UP,called out for fence down on NM 128 mm 12 posi...,NM128P,12.30,12.30,8.0,fixed fence,368.79,2022-01-01,0,Rural,MAJOR COLLECTOR,Eddy,NM128P_12.3_12.3

In [7]:
contract_data = pd.read_excel("../data/raw/02_Maintenance/2016-2023-ContractMaintenance.xlsx")
contract_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1159 entries, 0 to 1158
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FY                1159 non-null   int64
 1   NHS               1159 non-null   bool
 2   District          1159 non-null   int64
 3   Process Type      1159 non-null   object
 4   Route Type        1159 non-null   object
 5   Route             1159 non-null   object
 6   Beg MM            1157 non-null   float64
 7   End MM            1157 non-null   float64
 8   Total Lane Miles  450 non-null    float64
 9   Cost              1159 non-null   float64
 10  Comments          489 non-null    object
 11  Entry Date        1159 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(4)
memory usage: 100.9+ KB

In [16]:
contract_data.head()

,FY,NHS,District,Process Type,Route Type,Route,Beg MM,End MM,Total Lane Miles,Cost,Comments,Entry Date,segment_id
0,2021,True,4,HOT INSITU RECYCLING,US,US 56,14.03,20.0,11.94,616417.03,NaN,2021-07-01,US 56_14.03_20.0
1,2021,True,4,CRACK SEAL,US,US 54,231.00,243.0,24.00,391181.76,NaN,2021-07-01,US 54_231.0_243.0
2,2021,True,4,CRACK SEAL,US,US 84,73.00,79.9,13.80,111440.06,NaN,2021-07-01,US 84_73.0_79.9
3,2021,True,4,BRIDGE OTHER,Interstate,I 40,252.00,252.0,NaN,29723.68,NaN,2021-07-01,I 40_252.0_252.0
4,2021,True,4,BRIDGE OTHER,US,US 54,324.90,326.3,NaN,54041.19,Logan Bridge,2021-07-01,US 54_324.9_326.3

In [8]:
roads_gdf = gpd.read_file("../data/raw/03_Shape Files/StateOwnedRoads28Aug2023.shp")
roads_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RouteID     2229 non-null   object
 1   FromMeasur  2229 non-null   float64
 2   ToMeasure   2229 non-null   float64
 3   Ownership   2229 non-null   int32
 4   last_edi_1  2229 non-null   datetime64[ms]
 5   LocError    2229 non-null   object
 6   geometry    2229 non-null   geometry
dtypes: datetime64[ms](1), float64(2), geometry(1), int32(1), object(2)
memory usage: 113.3+ KB

/Users/seunshix/Desktop/Ph.D/Dr. Yanyu Wang/venv/lib/python3.11/site-packages/pyogrio/raw.py:198: UserWarning: Measured (M) geometry types are not supported. Original type 'Measured 3D LineString' is converted to 'LineString Z'
  return ogr_read(

In [17]:
roads_gdf.head()

,RouteID,FromMeasur,ToMeasure,Ownership,last_edi_1,LocError,geometry
0,NMX423P001.1A,0.0,0.222965,1,2021-08-14,NO ERROR,"LINESTRING Z (347802.715 3894479.107 0, 347822..."
1,IX40P166.0G,0.0,0.204381,1,2021-08-14,NO ERROR,"LINESTRING Z (361876.076 3882493.467 0, 361882..."
2,US82M,0.0,0.183760,1,2021-08-14,NO ERROR,"LINESTRING Z (409575.925 3645386.517 0, 409626..."
3,NM136M,0.0,9.169912,1,2021-08-14,NO ERROR,"LINESTRING Z (340975.432 3517712.898 0, 340794..."
4,IX40P072.0T,0.0,0.220865,1,2021-08-14,NO ERROR,"LINESTRING Z (229315.522 3906154.65 0, 229314...."

In [9]:
counties_df = pd.read_excel("../data/raw/Counties.xlsx")
counties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2636 entries, 0 to 2635
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route Group      2636 non-null   object
 1   Route ID         2636 non-null   object
 2   Route Number     2636 non-null   int64
 3   From Measure     2636 non-null   float64
 4   To Measure       2636 non-null   float64
 5   County           2636 non-null   object
 6   Route Direction  2636 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 144.3+ KB

In [18]:
counties_df.head()

,Route Group,Route ID,Route Number,From Measure,To Measure,County,Route Direction
0,BL,BL11M,11,0.0,5.747,Sierra,M
1,BL,BL11P,11,0.0,5.745,Sierra,P
2,BL,BL12M,12,0.0,2.857,Socorro,M
3,BL,BL12P,12,0.0,2.857,Socorro,P
4,BL,BL13M,13,0.0,6.616,Valencia,M

In [10]:
emergencies_df = pd.read_excel("../data/raw/Emergencies.xlsx")
emergencies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order.       580 non-null    object
 1   Declared     580 non-null    datetime64[ns]
 2   YearE        580 non-null    int64
 3   S/F          580 non-null    object
 4   Origin       580 non-null    object
 5   Incident     580 non-null    object
 6   Declaration  580 non-null    object
 7   County       580 non-null    object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 36.4+ KB

In [19]:
emergencies_df.head()

,Order.,Declared,YearE,S/F,Origin,Incident,Declaration,County
0,1997-030,1997-10-08,1997,S,Johnson,"Disaster in the County of Socorro, as a result...",Flash Flooding,Socorro
1,1997-010,1997-05-14,1997,S,Johnson,Disaster for flooding in Rio Arriba County as ...,Flooding,Rio Arriba
2,1997-023,1997-08-18,1997,S,Johnson,Disaster in Mora County in resulting in heavy ...,Flooding,Mora
3,1997-032,1997-11-05,1997,S,Johnson,Disaster in the Pecos River in Guadalupe Count...,Flooding,Guadalupe
4,1997-033,1997-11-05,1997,S,Johnson,"Disaster in Grant County, as a result in flood...",Flooding,Grant

In [12]:
# --- Standardize contract_data ---
# Create a segment_id from Route and Mile Markers (MM)
contract_data['segment_id'] = (
    contract_data['Route'].astype(str) + '_' + 
    contract_data['Beg MM'].astype(str) + '_' + 
    contract_data['End MM'].astype(str)
)

# Rename the columns to our standard names
contract_standardized = contract_data.rename(columns={
    'Entry Date': 'date',
    'Process Type': 'activity',
    'Cost': 'cost',
    'District': 'district',
    'FY': 'fiscal_year'
})

# Select only the columns we need for the final log
contract_standardized = contract_standardized[
    ['segment_id', 'date', 'activity', 'cost', 'district', 'fiscal_year']
]


# --- Standardize mms_master ---
# Create a segment_id from route_name and offsets
mms_master['segment_id'] = (
    mms_master['route_name'].astype(str) + '_' + 
    mms_master['eff_offset_from'].astype(str) + '_' + 
    mms_master['eff_offset_from.1'].astype(str)
)

# Rename the columns to our standard names
mms_standardized = mms_master.rename(columns={
    'start_date': 'date',
    'activity_name': 'activity',
    'total_cost': 'cost'
})

# Select only the columns we need
mms_standardized = mms_standardized[
    ['segment_id', 'date', 'activity', 'cost', 'district', 'fiscal_year']
]


# --- Combine into a Master Log ---
master_maintenance_log = pd.concat([contract_standardized, mms_standardized], ignore_index=True)


# --- Verify the result ---
print("--- Master Maintenance Log Created ---")
master_maintenance_log.info()

--- Master Maintenance Log Created ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162627 entries, 0 to 162626
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   segment_id   162627 non-null  object
 1   date         162627 non-null  datetime64[ns]
 2   activity     162627 non-null  object
 3   cost         162627 non-null  float64
 4   district     162627 non-null  int64
 5   fiscal_year  162627 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 7.4+ MB

In [20]:
master_maintenance_log.head()

,segment_id,date,activity,cost,district,fiscal_year
0,US 56_14.03_20.0,2021-07-01,HOT INSITU RECYCLING,616417.03,4,2021
1,US 54_231.0_243.0,2021-07-01,CRACK SEAL,391181.76,4,2021
2,US 84_73.0_79.9,2021-07-01,CRACK SEAL,111440.06,4,2021
3,I 40_252.0_252.0,2021-07-01,BRIDGE OTHER,29723.68,4,2021
4,US 54_324.9_326.3,2021-07-01,BRIDGE OTHER,54041.19,4,2021

## Pavement Condition Data 2022

In [ ]:
df = pd.read_csv("../data/raw/01_Pavement condition/Pavement_Condition_Data_2022.csv") 
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
categorical = df.select_dtypes(include='object').columns.tolist()
numerical = df.select_dtypes(include=np.number).columns.tolist()

In [ ]:
numerical_cols = df[numerical].columns 

fig, axes = plt.subplots(nrows=4, ncols=4, figsize=(16, 12)) 

axes = axes.flatten()

for i, col in enumerate(numerical_cols):
    ax = axes[i]
    if df[col].nunique() < 5:
        df[col].value_counts().sort_index().plot(kind='bar', ax=ax, rot=0)
        ax.set_title(f'Bar Chart: {col}')
    else:
        if df[col].skew() > 2:
            ax.hist(df[col], bins=50)
            ax.set_yscale('log') 
            ax.set_title(f'Histogram: {col} (log scale)')
        else:
            ax.hist(df[col], bins=50)
            ax.set_title(f'Histogram: {col}')
    ax.grid(True)

for j in range(i + 1, len(axes)):
    fig.delaxes(axes[j])

plt.tight_layout()
plt.show()

In [ ]:
print(f"Shape before dropping NaNs: {df.shape}")

# Drop rows where any of these specific columns are null
df.dropna(subset=['lane_miles', 'pavement_condition_rating'], inplace=True)

print(f"Shape after dropping NaNs: {df.shape}")

In [ ]:
print(f"Missing 'average_iri' before imputing: {df['average_iri'].isnull().sum()}")
median_iri = df['average_iri'].median()

df['average_iri'] = df['average_iri'].fillna(median_iri)

print(f"Missing 'average_iri' after: {df['average_iri'].isnull().sum()}")

In [ ]:
print(f"Shape before filtering: {df.shape}")

# Define a more accurate bounding box for the contiguous U.S.
lat_min, lat_max = 24.5, 49.5
lon_min, lon_max = -125.0, -66.9

# Apply the accurate U.S. filter
df = df[(df['latitude'].between(lat_min, lat_max)) & 
        (df['longitude'].between(lon_min, lon_max))]

print(f"Shape after U.S. filtering: {df.shape}")

In [ ]:
df.rename(columns={'overal_condition_index': 'overall_condition_index'}, inplace=True)

In [ ]:
df.describe()

## Pavement Condition Data 2020

In [ ]:
df = pd.read_csv("../data/raw/01_Pavement condition/Pavement_Condition_Data_2020.csv")  # or use .read_excel if needed
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
categorical = df.select_dtypes(include='object').columns.tolist()
numerical = df.select_dtypes(include=np.number).columns.tolist()

In [ ]:
numerical_cols = df[numerical].columns 

fig, axes = plt.subplots(nrows=4, ncols=4, figsize=(16, 12)) 

axes = axes.flatten()

for i, col in enumerate(numerical_cols):
    ax = axes[i]
    if df[col].nunique() < 5:
        df[col].value_counts().sort_index().plot(kind='bar', ax=ax, rot=0)
        ax.set_title(f'Bar Chart: {col}')
    else:
        if df[col].skew() > 2:
            ax.hist(df[col], bins=50)
            ax.set_yscale('log') 
            ax.set_title(f'Histogram: {col} (log scale)')
        else:
            ax.hist(df[col], bins=50)
            ax.set_title(f'Histogram: {col}')
    ax.grid(True)

for j in range(i + 1, len(axes)):
    fig.delaxes(axes[j])

plt.tight_layout()
plt.show()

Dropping rows where there are NaNs

In [ ]:
print(f"Shape before dropping NaNs: {df.shape}")

# Drop rows where any of these specific columns are null
df.dropna(subset=['lane_miles', 'pavement_condition_rating', 'nm_rutting_measure'], inplace=True)

print(f"Shape after dropping NaNs: {df.shape}")

for average_iri, impute missing values

In [ ]:
print(f"Missing 'average_iri' before imputing: {df['average_iri'].isnull().sum()}")
median_iri = df['average_iri'].median()

df['average_iri'] = df['average_iri'].fillna(median_iri)

print(f"Missing 'average_iri' after: {df['average_iri'].isnull().sum()}")

filtering invalid latitude and longitude

In [ ]:
print(f"Shape before filtering: {df.shape}")

# Define a more accurate bounding box for the contiguous U.S.
lat_min, lat_max = 24.5, 49.5
lon_min, lon_max = -125.0, -66.9

# Apply the accurate U.S. filter
df = df[(df['latitude'].between(lat_min, lat_max)) & 
        (df['longitude'].between(lon_min, lon_max))]

print(f"Shape after U.S. filtering: {df.shape}")

In [ ]:
df.rename(columns={'overal_condition_index': 'overall_condition_index'}, inplace=True)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
print(f"Shape before filtering for year 2020: {df.shape}")

# Create a new DataFrame containing only data from the year 2020
df_2020 = df[df['year'] == 2020].copy()

print(f"Shape after filtering for year 2020: {df_2020.shape}")

In [ ]:
df_2020.describe()

In [ ]:
# Check if the calculation holds true for a sample of the data
# (It should be very close, allowing for floating point inaccuracies)
is_redundant = (abs((df_2020['end_mile'] - df_2020['begin_mile']) - df_2020['length']) < 0.001).all()

print(f"Is 'length' a redundant column? {is_redundant}")

if is_redundant:
    # If it is, we can drop it before training a model
    # df_2020.drop(columns=['length'], inplace=True)
    print("'length' can be dropped before machine learning.")

In [ ]:
numerical = df_2020.select_dtypes(include=np.number).columns.tolist()

In [ ]:
numerical_cols = df_2020[numerical].columns 
fig, axes = plt.subplots(nrows=4, ncols=4, figsize=(16, 12)) 
axes = axes.flatten()

for i, col in enumerate(numerical_cols):
    ax = axes[i]
    if df_2020[col].nunique() < 5:
        df_2020[col].value_counts().sort_index().plot(kind='bar', ax=ax, rot=0)
        ax.set_title(f'Bar Chart: {col}')
    else:
        if df_2020[col].skew() > 2:
            ax.hist(df[col], bins=50)
            ax.set_yscale('log') 
            ax.set_title(f'Histogram: {col} (log scale)')
        else:
            ax.hist(df[col], bins=50)
            ax.set_title(f'Histogram: {col}')
    ax.grid(True)

for j in range(i + 1, len(axes)):
    fig.delaxes(axes[j])

plt.tight_layout()
plt.show()

In [ ]:
numerical_df = df_2020.select_dtypes(include=np.number)
correlation_matrix = numerical_df.drop(columns='year').corr()
plt.figure(figsize=(14, 10))
sns.heatmap(correlation_matrix, 
            annot=True, 
            cmap='coolwarm', 
            fmt='.2f', 
            linewidths=.5)

plt.title('Correlation Matrix of Pavement Condition Features (2020)', fontsize=16)

## Maintainance files

In [ ]:
df_2016_2023 = pd.read_excel("../data/raw/02_Maintenance/2016-2023-ContractMaintenance.xlsx")
df_2016_2023.info()

In [ ]:
df_2021 = pd.read_excel("../data/raw/02_Maintenance/2021 MMS.xlsx")
df_2021.info()

In [ ]:
df_2022 = pd.read_excel("../data/raw/02_Maintenance/2022 MMS.xlsx")
df_2022.info()

In [ ]:
df_2023 = pd.read_excel("../data/raw/02_Maintenance/2023 MMS.xlsx")
df_2023.info()